{% extends "base.html" %}
{% load static %}
{% load web_extras %}
{% load render_bundle from webpack_loader %}

{% block fullcontent %}
<div class="content replay-listing">
<div class="container-fluid" id="my-games-container">
{% if not replays %}
	<section id="my-games-empty">
		<h1>Play a few games!</h1>
		<p>Your replays will appear here once you've uploaded them using Hearthstone Deck Tracker.</p>
		<p><a href="{% setting 'HDT_DOWNLOAD_URL' %}" class="promo-button">Download HDT</a></p>

		<hr/>

		<p id="my-games-claim-account">
			Make sure to claim your account from HDT in <code>Options → Replays</code>.
			<a href="{% static 'images/claim-account.jpg' %}">
				<img src="{% static 'images/claim-account.png' %}"/>
			</a>
		</p>
	</section>
{% endif %}
</div>
</div>
{% render_bundle "my_replays" %}
{% endblock %}
