{% extends "base.html" %}
{% load static %}
{% load web_extras %}
{% load render_bundle from webpack_loader %}

{% block stylesheets %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% joust_static 'joust.css' %}"/>

	{% comment %} The following shim fixes card texture clipping in Firefox.
	See bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1075457 {% endcomment %}
	<style type="text/css">
		{% include "games/svg-paths-shim.css" with svg="/static/svg-paths.svg" %}
	</style>
{% endblock %}

{% block title %}
	<title>{{ replay }}</title>
{% endblock title %}

{% block fullcontent %}
<div id="tabletop" class="container-fluid">
	<div class="row full_height">
		<div class="col-lg-offset-1 col-lg-10 col-xs-12 full_height">
			<div class="full_height">
				<div id="joust-container" class="full_height" data-replayurl="{{ replay.replay_xml.url }}"></div>
			</div>
		</div>
	</div>
</div>

<div id="replay-details" class="container-fluid">
	<div class="row">
		<div class="col-lg-offset-1 col-lg-10 col-xs-12">
			{% with replay.global_game as gg %}
			<div class="row">
				<div class="col-lg-3 col-lg-push-9 col-xs-12">
					<h2>Share</h2>
					<div id="share-game-dialog" data-url="{{ request.scheme }}://{{ request.get_host }}{{ replay.get_absolute_url }}"></div>
				</div>
				<div class="col-lg-3 col-lg-pull-3 col-xs-12">
					<h2>Details</h2>
					<ul>
						<li>Patch {{ gg.build }}</li>
						<li>{{ gg.num_turns }} turns, {{ gg.num_entities }} entities</li>
						<li>
							{{ gg.game_type.name }}
							{% if gg.ladder_season %}- Season {{ gg.ladder_season }}{% endif %}
						</li>
						<li><a href="{{ replay.replay_xml.url }}">Download replay</a></li>
					</ul>
				</div>
				<div class="col-lg-6 col-lg-pull-3 col-xs-12">
					<h2>Players</h2>
					<div class="row">
						{% for player in gg.players.all %}
							<div class="col-lg-6 col-sm-12">
								<h3>{{ player }}{% if player.is_ai %} (AI){% endif %} ({{ player.final_state.name|title }})</h3>
								<ul>
									<li>{% if player.is_first %}First player{% else %}Second player{% endif %}</li>
									<li>Hero: {{ player.hero }}{% if player.hero_premium %} (Golden){% endif %}</li>
									<li>Deck: {{ player.deck_list }}</li>
									{% if player.rank %}
										<li>Rank {{ player.rank }}{% if player.stars %} {{ player.stars }} stars{% endif %}</li>
									{% elif player.legend_rank %}
										<li>Legend rank {{ player.legend_rank }}</li>
									{% endif %}
								</ul>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
			{% endwith %}
		</div>
	</div>
</div>
<script src="{% joust_static 'joust.js' %}"></script>
{% render_bundle "replay_detail" %}
{% endblock %}
