{% extends "account/base.html" %}
{% load static %}
{% load web_extras %}

{% block content %}

	<h1>Your account</h1>
	<p>
		Signed in as <img src="{% static 'web/images/bnet.png' %}"/> <strong>{{ user }}</strong>.
	</p>

	<h4>API access</h4>
	<p>
	{% with user.auth_tokens.all as tokens %}

	{% if tokens.count == 0 %}
		You do not have any upload client associated with your account.
		<a href="{% setting 'HDT_DOWNLOAD_URL' %}">Download Hearthstone Deck Tracker</a> and
		claim your account from there!
	{% elif tokens.count == 1 %}
		You have <strong>1</strong> upload client associated with your account.
	{% else %}
		You have <strong>{{ tokens.count }}</strong> upload clients associated with your account.
	{% endif %}

	{% endwith %}
	</p>
{% endblock %}
