{% extends "base.html" %}
{% load static %}

{% block head %}
	{{ block.super }}
	<meta http-equiv="refresh" content="3"/>
{% endblock %}

{% block content %}

<p class="upload-status-message upload-{{ upload.status.name|lower }}">
{% if not upload %}
	Your replay is still uploading. Hold on!<br/>
	<em style="font-size: 0.5em;">Hmm. Or maybe something went wrong...</em>
{% elif upload.is_processing %}
	Your replay is still processing. Check back soon!
{% elif upload.status.name == "UNSUPPORTED" %}
	<strong>This replay is not supported.</strong><br/>
	<em>{{ upload.error }}</em>
{% elif upload.status.name == "VALIDATION_ERROR" %}
	<strong>The uploaded file is not a valid replay.</strong><br/>
	<em>{{ upload.error }}</em>
{% else %}
	Something went wrong generating this replay. We're on it.
{% endif %}
</p>

{% endblock %}
